@{
    ViewBag.Title = "Tuning";
}

<div class="main">
    <div class="container">
        <h3 class="text-center">Course Quiz</h3>
        <h4 class="text-center">@ViewBag.Title</h4>

        <form method="POST" name="myquiz">

            <div class="qheader">
                1.  What is an equipment tuning method to begin with?
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="a" name="question1"> Walk forward
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="b" name="question1"> Walk back
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="c" name="question1"> Roll around
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="d" name="question1"> Fall down
                </label>
            </div>

            <div class="qheader">
                2.  What is an effecient arrow tuning technique?
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="a" name="question2"> Break Time
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="b" name="question2"> Not doing it
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="c" name="question2"> HIL
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="d" name="question2"> Bill
                </label>
            </div>

            <div class="qheader">
                3.  Which method would you use to tune your broadheads?
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="a" name="question3"> French fry
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="b" name="question3"> French dip
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="c" name="question3"> Let it rip
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="d" name="question3"> Modified french
                </label>
            </div>

            <div class="qheader">
                4.  Broadheads impact the same as field points?
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="a" name="question4"> True
                </label>
            </div>
            <div class="radio qselections">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" value="b" name="question4"> False
                </label>
            </div>
        </form>
        <form>
            <div align="center">
                <input class="btn" type="button" value="Submit" name="B1" onClick="gradeit()"> <input class="btn" type="button" value="Reset" name="B2" onClick="document.myquiz.reset()">
            </div>
        </form>
    </div>
</div>


    <script type="text/javascript" src="~/Scripts/quizconfig.js"></script>
    <script>
        var actualchoices = new Array()
        document.cookie = "ready=yes"
    </script>


